// src/components/Pokemon/Pokemon.scss

.Pokemon {
  //   transition: transform 0.2s ease;
  -webkit-transition: -webkit-transform 0.8s ease-in-out;
  transition: transform 1s ease-in-out;
}
.Pokemon:hover {
  //   transform: scale(1.02) translate(0, -3px);
  -webkit-transform: rotate(360deg);
  transform: rotate(360deg);
}
